<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <img routerLink="home" src="./assets/images/freshcart-logo.svg" class="me-3" alt="e-commerce-logo">
      <button class="navbar-toggler mt-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  mt-lg-0  ps-2 ps-lg-0" id="navbarNav">
        <!-- <ul class="navbar-nav">
          <li  class="nav-item  ">
            <a class="nav-link " routerLink="home" routerLinkActive=""  >Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="cart" routerLinkActive="" >Cart</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="products" routerLinkActive="">Products</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="categories" routerLinkActive="">Categories</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="brands" routerLinkActive="">Brands</a>
          </li>
         
        </ul> -->
        <ul class="navbar-nav ms-lg-auto flex-row gap-2 gap-lg-0 d-lg-flex">
          <li class="nav-item">
            <a class="nav-link " href="http://facebook.com" ><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://twitter.com"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://instagram.com"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://linkedin.com" ><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://youtube.com"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://github.com"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="register">Register</a>
          </li>
         
         
        </ul>
      </div>
   
    </div>  
  </nav>
