<section class="register-w m-auto">
    <h2 class="text-center">forgot password</h2>
  @if(steps==1){

      <form [formGroup]="postemail" class="shadow p-2"  (ngSubmit)="emailVerfiy()" >
          <label for="email">email</label>
          <input  formControlName="email" placeholder="enter valid email" type="email" id="email" class="form-control"/>
          <button [disabled]="disable"  class="ms-auto d-block btn-main my-2">verfiy email 
            @if(isloading){
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
         @if(postemail.get("email")?.touched && postemail.get("email")?.valid !==true){
          <div class="bg-danger-subtle p-2 rounded-2">
            <p class="m-0">{{msgerr}}</p>
          </div>
         }
         
     
        </form>
  }
  @else if (steps==2) {

      <form  class="shadow p-2" [formGroup]="verifyCode" (ngSubmit)="codeverfiy()">
          <label for="code">code</label>
          <input placeholder="enter verfiy code" formControlName="resetCode" type="text" id="code" class="form-control"/>
          <button  class="ms-auto d-block btn-main my-2">verfiy code
            @if(isloading){
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
          @if(verifyCode.get("resetCode")?.touched && verifyCode.get("resetCode")?.valid !==true){
            <div class="bg-danger-subtle p-2 rounded-2">
              <p class="m-0">{{msgerr}}</p>
            </div>
           }
          @if(success){
            <div class="bg-success text-white rounded-2 p-2">
              <p class="m-0">{{sucmsg}}</p>
            </div>
          }
      </form>
  }
  @else if (steps==3) {

      <form  class="shadow p-2" [formGroup]="resetPassword" (ngSubmit)="resetpassword()">
        <label for="email">email</label>
        <input  formControlName="email" readonly placeholder="enter valid email" type="email" id="email" class="form-control"/>
          <label for="password">New password</label>
          <input placeholder="enter new password" formControlName="newPassword" type="password" id="password" class="form-control"/>
          <button  class="ms-auto d-block btn-main my-2">verfiy password
            @if(isloading){
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
          @if(resetPassword.get("newPassword")?.touched && resetPassword.get("newPassword")?.valid !==true ){
            <div class="bg-danger-subtle p-2 rounded-2">
              <p class="m-0">{{msgerr}}</p>
            </div>
          }
      </form>
  }
  
</section>